.btn {
    background-color: #6278F7;
    border-radius: 10px;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 24px 32px;
    border: none;
    margin: 32px 0;
    cursor: pointer;
}

.btn:hover {
    color: #96FFD4;
}
